<app-auth-page-layout>
    <div class="flex flex-col items-center gap-3 mb-6">
        <div
            class="w-16 h-16 bg-primary flex items-center justify-center rounded-2xl rotate-6 shadow-xl text-white font-artistic text-3xl">
            N
        </div>
        <h1 class="text-3xl font-artistic text-primary">
            Nailbooking<span class="text-secondary">AU</span>
        </h1>
    </div>

    <div class="text-center">
        <h2 class="text-2xl font-bold text-textMain mb-2">
            {{ 'auth.resetPasswordTitle' | translate }}
        </h2>
        <p class="text-sm text-textMain/50 mb-6">
            {{ 'auth.resetPasswordDescription' | translate }}
        </p>
    </div>

    <form class="space-y-6" (ngSubmit)="submit()">
        <div class="space-y-4">
            <app-input-field placeholderKey="auth.passwordPlaceholder" type="password" name="password" autocomplete="password"
                leftIcon="lock" [(ngModel)]="password"></app-input-field>
            <app-input-field placeholderKey="auth.confirmPasswordPlaceholder" type="password" name="confirmPassword" autocomplete="confirmPassword"
                leftIcon="lock" [(ngModel)]="confirmPassword"></app-input-field>
        </div>

        <button type="submit"
            class="w-full bg-primary hover:bg-coral text-white font-bold py-4 rounded-2xl shadow-lg shadow-primary/20 transition-all hover:-translate-y-0.5 active:translate-y-0 text-lg"
            (click)="submit()">
            {{ 'auth.resetPasswordBtn' | translate }}
        </button>
    </form>

</app-auth-page-layout>