<div class="container mx-auto px-6 relative z-10 text-center mb-16" appScrollReveal="up">
  <h1 class="text-4xl md:text-7xl mb-6 leading-tight flex flex-col items-center">
    <span class="font-medium text-textMain uppercase tracking-tighter text-3xl md:text-5xl mb-2">
      {{ 'offersPage.hero.titleLine1' | translate }}
    </span>
    <span class="font-artistic text-primary text-5xl md:text-8xl drop-shadow-sm">
      {{ 'offersPage.hero.titleLine2' | translate }}
    </span>
  </h1>
  <p class="text-textMain/60 max-w-2xl mx-auto text-lg md:text-xl font-light">
    {{ 'offersPage.hero.subtitle' | translate }}
  </p>
</div>

